body{
    margin: 0
}

#container{
    height: 100vh;
    width: 100vw;
    transition: background-color .5s;
}

#troll{
    position: relative;
    width: 5%;
    aspect-ratio: 1/1;
    background-image: url("./trollface.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#troll.running{
    background-image: url("./trolling_face.png");
}